html,
body,
#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.form {
  left: 70px;
  top: 5px;
  height: 35px;
  width: 350px;
  z-index: 100;
  position: fixed;
}

.search {
  padding: 8px 15px;
  background: white;
}

.button {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: #fafafa;
  height: 35px ;
}

.button:hover {
  background-color: #1c53a5;
  color: white;
}

.places {
  list-style-type: none;
  position: fixed;
  height: auto;
  max-height: 80%;
  overflow-y: scroll;
  width: 200px;
  z-index: 100;
  right: 0px;
  top: 75px;

}

.place {
  font-family: sans-serif;
  color: #1c53a5;
  float: right; 
  padding: 5px;
  border: 2px solid #1c53a5;
  background: white;
  width: 200px;
  height: 100px;  
}

.address {
  font-size : 12px;
}

.place:hover {
  background-color: #1c53a5;
  color: white;
}